#headerAndFooter {
    clear:both;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(125, 149, 168);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}

.mainArea {
    float: left;
    width: auto;
    background-color: aliceblue;
    padding: 15px;
    margin: auto 10px;
    text-align: center;
    align-items: center;
}

.mainPageTitle {
    font-size: 6.0vw;
    font-family: 'Times New Roman';
    line-height: 10px;
    height: 10px;
}

.mainPageSlider {
    border: 10px solid #555;
}


#sideBar {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    height: 180px;
    width: 30%;
    float: right;
    border-style: dashed;
    text-align: center;
}

#mainNavigation {
    background-color: lightskyblue;
    color: white;
    text-decoration: none;
    padding: 3px;
    margin: 10px;
    word-spacing: 5px;
    text-align: center;
}

#mainNavigation a:hover {
    background-color: #5887de;
    color: white;
}

#mainNavigation ul a{
    text-align: center;
    padding: 20px;
} 

.navigationLink {
    color:black;
    text-decoration:none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


/* Buttons for Site */

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

#map { 
    height: 180px;
 }

#searchResults {
    margin: auto 5px;
}

.searchDiv {
    width: auto;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    background-color: #d0e0fc;
    text-align: center;
    margin: auto 5px;
}